task_1/obj/Debug/net8.0/task_1.AssemblyInfo.cs
task_1/obj/Debug/net8.0/task_1.AssemblyInfoInputs.cache
task_1/task_1.sln
task_1/bin/Debug/net8.0/task_1.dll
task_1/bin/Debug/net8.0/task_1.exe
task_1/bin/Debug/net8.0/task_1.pdb
task_1/obj/Debug/net8.0/apphost.exe
task_1/obj/Debug/net8.0/task_1.AssemblyInfo.cs
task_1/obj/Debug/net8.0/task_1.AssemblyInfoInputs.cache
task_1/obj/Debug/net8.0/task_1.dll
task_1/obj/Debug/net8.0/task_1.pdb
task_1/obj/Debug/net8.0/task_1.sourcelink.json
task_1/obj/Debug/net8.0/ref/task_1.dll
task_1/obj/Debug/net8.0/refint/task_1.dll
task_1/bin/Debug/net8.0/task_1.dll
task_1/bin/Debug/net8.0/task_1.exe
task_1/bin/Debug/net8.0/task_1.pdb
task_1/obj/Debug/net8.0/apphost.exe
task_1/obj/Debug/net8.0/task_1.AssemblyInfo.cs
task_1/obj/Debug/net8.0/task_1.AssemblyInfoInputs.cache
task_1/obj/Debug/net8.0/task_1.dll
task_1/obj/Debug/net8.0/task_1.pdb
task_1/obj/Debug/net8.0/task_1.sourcelink.json
task_1/obj/Debug/net8.0/ref/task_1.dll
task_1/obj/Debug/net8.0/refint/task_1.dll
